{% extends 'base.html.twig' %}

{% block title %}New MesProjet{% endblock %}

{% block body %}
    <h1>Create new MesProjet</h1>

    {{ include('mes_projet/_form.html.twig') }}

    <a href="{{ path('app_mes_projet_index') }}">back to list</a>
{% endblock %}
